
@{
    ViewBag.Title = "Chi tiết sách gì đó";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int[] arrRate = { 0, 0, 0, 0, 0 }; // 5*, 4*, 3*, 2*, 1*

}
@functions{
    public string CountAvg(ICollection<EVALUATE> lst, int[] arrRate)
    {
        int tong = 0;
        foreach (var e in lst)
        {
            tong += e.eva_rate;
            arrRate[5 - e.eva_rate]++;
        }
        return Math.Round(tong * 1.0 / lst.Count, 1).ToString();
    }

    public string RenderDetail(string text, string value)
    {
        return (value != "") ? string.Format("<li>{0}</li><li>{1}</li>",text,value) : "";
    }
}
@model BOOK

<section class="book d-flex">

    <div class="book__left">
        <img src="@string.Format("https://salt.tikicdn.com/cache/w444/ts/product/{0}.jpg",Model.book_img)"
             alt="@Model.book_name">

    </div>
    <!-- /.book__left-->

    <div class="book__right w-100">
        <div class="book__header position-relative">
            <div class="brand">
                <div class="brand-and-author cus-border-right d-inline">
                    <h6>Tác giả:<a href="/author/david-a-phillips.html">@Model.AUTHOR.aut_name</a></h6>
                </div>
                <div class="bestseller d-inline">
                    <p class="d-inline">
                        <span>Đứng thứ 1 trong </span>
                        <a href="/bestsellers-month/sach-ky-nang-song/c871">
                            Top 1000 Sách tư duy - Kỹ năng sống bán chạy tháng này
                        </a>
                    </p>
                </div>
                <div class="like_share">
                    <div class="icon-wrap">
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-like.svg">
                    </div>
                    <div class="icon-wrap shareFB">
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-account-social.svg">
                    </div>
                </div>
            </div>
            <h1 class="title" itemprop="name">
                <img src="https://salt.tikicdn.com/ts/upload/e9/68/49/50ac83c9f95bd008cc840e638f0f5791.png"
                     alt="tikinow" class="cus-border-right">
                <span class="d-inline cus-border-right"></span>
                @Model.book_name
            </h1>
            <div>
                <p class='d-inline' style='color: rgb(255, 193, 32);'>
                    @Html.Raw(Tiki.App_Code.GlobalFunction.RenderStarByListEva(Model.EVALUATEs))
                </p>
                <a class="number" href="#evaluate">(Xem @Model.EVALUATEs.Count đánh giá)</a>
            </div>

        </div>
        <!-- /.book__header -->

        <div class="book__right__content d-inline-block">
            <div class="book__price">
                <p>
                    <span class="book__price__current ">@Tiki.App_Code.GlobalFunction.FormatPrice(Model.book_sale)</span>
                    <span class="book__price__old">@Tiki.App_Code.GlobalFunction.FormatPrice(Model.book_price)</span>
                    <span class="book__price__discount">-@Math.Ceiling((decimal)(1 - 1.0 * Model.book_sale / Model.book_price) * 100)%</span>
                </p>

                <div class="d-flex">
                    <img src="https://salt.tikicdn.com/ts/upload/7b/17/f7/4860983e93ea3c264ae0d932c58ec4f7.png"
                         width="48" height="24">
                    <span class="mx-1">Hoàn tiền 15% tối đa 600k/tháng</span>
                    <img class="view-more"
                         src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/question.svg">
                    <a data-view-label="Hoàn tiền 15% tối đa 600k/tháng" class="view-more-link"
                       href="https://tiki.vn/chuong-trinh/mo-the-tikicard?src=pdp_badge" target="_blank"></a>
                </div>

            </div>
            <!-- /.book__price -->
            <div class="book__add__address">
                Bạn hãy
                <span>NHẬP ĐỊA CHỈ</span>
                nhận hàng để được dự báo thời gian & chi phí giao hàng một cách chính xác nhất.
            </div>
            <!-- /.book__add__address-->
            <p>Số lượng</p>
            <div class="book__quantity d-flex">
                <div class="abate "></div>
                <div class="number">1</div>
                <div class="augment"></div>
            </div>
            <!-- /.book__quantity -->
             
            @Html.ActionLink("Mua ngay", "Add", "Cart",new { book_id = Model.book_id}, new {
           @class = "btn btn-add-to-cart"
       })
        </div>
        <!-- /.book__right__content -->

        <div class="book__commitment d-inline-block align-top">

            <div class="book__commitment__top">
                <div class="seller-info">
                    <div class="seller-description">Cam kết chính hiệu bởi</div>
                    <div class="seller-icon-and-name d-flex align-items-start">
                        <img class="icon-store"
                             src="https://salt.tikicdn.com/cache/w220/ts/seller/ee/fa/a0/98f3f134f85cff2c6972c31777629aa0.png">
                        <div>
                            <a href="https://tiki.vn/cua-hang/tiki-trading" class="seller-name">
                                <span>@Model.CATEGORY.cat_name</span>
                                <br />
                                <span class="view-more">Xem Shop</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="book__commitment__benifit">
                    <div class="benefit-item compensation">
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/compensation.svg">
                        <span>
                            Hoàn tiền<br>
                            <b> 111% </b><br>
                            <a style="color:#242424; text-decoration: underline;"
                               href="https://drive.google.com/file/d/1po3r6qApp-q7JDB5kwGKujVtvInfO-ih/view"
                               target="_blank">
                                nếu giả
                            </a>
                        </span>
                    </div>
                    <div class="benefit-item guarantee">
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/guarantee.svg">
                        <span>
                            Mở hộp<br>
                            kiểm tra<br>
                            nhận hàng
                        </span>
                    </div>
                    <div class="benefit-item refund">
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/refund.svg">
                        <span>Đổi trả trong<br><b>30 ngày</b><br>nếu sp lỗi</span>
                    </div>
                </div>
            </div>
            <!-- /.book__commitment__top -->

            <div class="book__commitment__bottom">

            </div>
            <!-- /.book__commitment__bottom -->
        </div>
    </div>
    <!-- /.book_right -->

</section>
<!-- /.book -->

<h4 class="title">SẢN PHẨM TƯƠNG TỰ</h4>
<section class="similar">

    <div class="similar__item">
        <div class="text-center">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a0/73/4f/92af6309562efb8d90602ab2efdf42b3.jpg"
                 alt="Tên sách item">
        </div>
        <p class="similar__item__name">Kiên trì ắc được đền đáp (Tái bản)</p>
        <div>
            <p class='d-inline similar__item__stars'>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <a class="number">(386 đánh giá)</a>
            </p>
        </div>
        <p class="price">
            39.000 ₫
            <span class="percent ">-40%</span>
            <span class="original ">65.000 ₫</span>
        </p>
    </div>
    <!-- /.similar__item-->


    <div class="similar__item">
        <div class="text-center">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a0/73/4f/92af6309562efb8d90602ab2efdf42b3.jpg"
                 alt="Tên sách item">
        </div>
        <p class="similar__item__name">Kiên trì ắc được đền đáp (Tái bản)</p>
        <div>
            <p class='d-inline similar__item__stars'>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <a class="number">(386 đánh giá)</a>
            </p>
        </div>
        <p class="price">
            39.000 ₫
            <span class="percent ">-40%</span>
            <span class="original ">65.000 ₫</span>
        </p>
    </div>
    <!-- /.similar__item-->

    <div class="similar__item">
        <div class="text-center">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a0/73/4f/92af6309562efb8d90602ab2efdf42b3.jpg"
                 alt="Tên sách item">
        </div>
        <p class="similar__item__name">Kiên trì ắc được đền đáp (Tái bản)</p>
        <div>
            <p class='d-inline similar__item__stars'>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <a class="number">(386 đánh giá)</a>
            </p>
        </div>
        <p class="price">
            39.000 ₫
            <span class="percent ">-40%</span>
            <span class="original ">65.000 ₫</span>
        </p>
    </div>
    <!-- /.similar__item-->

    <div class="similar__item">
        <div class="text-center">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a0/73/4f/92af6309562efb8d90602ab2efdf42b3.jpg"
                 alt="Tên sách item">
        </div>
        <p class="similar__item__name">Kiên trì ắc được đền đáp (Tái bản)</p>
        <div>
            <p class='d-inline similar__item__stars'>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <a class="number">(386 đánh giá)</a>
            </p>
        </div>
        <p class="price">
            39.000 ₫
            <span class="percent ">-40%</span>
            <span class="original ">65.000 ₫</span>
        </p>
    </div>
    <!-- /.similar__item-->

    <div class="similar__item">
        <div class="text-center">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a0/73/4f/92af6309562efb8d90602ab2efdf42b3.jpg"
                 alt="Tên sách item">
        </div>
        <p class="similar__item__name">Kiên trì ắc được đền đáp (Tái bản)</p>
        <div>
            <p class='d-inline similar__item__stars'>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <i class="icomoon icomoon-star"></i>
                <a class="number">(386 đánh giá)</a>
            </p>
        </div>
        <p class="price">
            39.000 ₫
            <span class="percent ">-40%</span>
            <span class="original ">65.000 ₫</span>
        </p>
    </div>
    <!-- /.similar__item-->



</section>
<!-- /.similar -->

<h4 class="title">THÔNG TIN CHI TIẾT</h4>
<section class="detail">
    <ul class="list-unstyled">
        @Html.Raw(RenderDetail("Công ty phát hành", Model.COMPANY.com_name))
        @Html.Raw(RenderDetail("Ngày xuất bản", Model.public_date.Month+" - "+Model.public_date.Year))
        @Html.Raw(RenderDetail("Kích thước", Model.width + "cm x " + Model.height+"cm"))
        @Html.Raw(RenderDetail("Dịch Giả", Model.translator))
        @Html.Raw(RenderDetail("Loại bìa", Model.cover_type))
        @Html.Raw(RenderDetail("Số trang", Model.page_number.ToString()))
        @Html.Raw(RenderDetail("Nhà xuất bản", Model.PUBLISHER.pub_name))
    </ul>
    <div class="clear-both"></div>
</section>
<!-- /.detail -->

<h4 class="title">MÔ TẢ SẢN PHẨM</h4>
<section class="describe">
    <div class="content">
        @Html.Raw(@Model.article)
    </div>
    <!-- /.describe -->


</section>
<!-- /.container -->

<h4 class="title" id="evaluate">KHÁCH HÀNG NHẬN XÉT</h4>

<section class="evaluate">
    <div class="evaluate__top">
        <p class="evaluate__title">@Model.EVALUATEs.Count đánh giá</p>
        <input class="cmtKey" type="text" placeholder="Tìm theo nội dung đánh giá">
    </div>
    <!-- /.evaluate__top-->

    <div class="evaluate__middle">
        <b class="d-flex align-items-center justify-content-center">
            @CountAvg(Model.EVALUATEs, arrRate)
            <i class="icomoon icomoon-star"></i>
        </b>
        <div class="rate-analyst">
            <table class='w-100'>
                <tbody>
                    @for (var i2 = 5; i2 > 0; i2--)
                    {
                        <tr>
                            <td>@i2</td>
                            <td>
                                <div class="progressbar__out">
                                    <div class="progressbar__in" style="width: @string.Format("{0}%",(100.0*arrRate[5 - i2] / Model.EVALUATEs.Count));"></div>
                                </div>
                            </td>
                            <td><a href="/dtdd/200533/a.html"><b>@arrRate[5 - i2]</b> đánh giá</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="btn-evaluate" data-toggle="modal" data-target="#cartModal">
            Mua ngay &amp; bình luận
        </div>
    </div>
    <!-- /.evaluate__middle -->
    <div class="evaluate__imgs">
        <p class="evaluate__title">
            Tất cả hình ảnh
        </p>
        @{
            int i4 = 0;
            foreach (var e in Model.EVALUATEs)
            {
                if (i4 == 22) { break; }
                if (e.eva_imgs == "") { continue; }
                string[] arrTemp = e.eva_imgs.Split(';');
                foreach (string s in arrTemp)
                {
                    if (i4 == 22) { break; }

                    <img src="@string.Format("https://vcdn.tikicdn.com/cache/w94/ts/review/{0}.jpg",s)"
                         alt="">
                    i4++;
                    System.Diagnostics.Debug.WriteLine("i4: " + i4);
                }
            }
        }
        <hr />

    </div>
    <!-- /.evaluate__imgs -->

    <div class="evaluate__filter">

    </div>
    <!-- /.evaluate__filter -->
    @foreach (var e in Model.EVALUATEs)
    {

        <div class="evaluate__item">
            <div class="evaluate__avatar d-flex align-items-center">
                <span> KN </span>
                <div class="evaluate__info">
                    <div class="evaluate__info__content">
                        <span class="evaluate__info__name">Phan Nguyễn Kim Ngân</span>
                        <span class="evaluate__info__bought">
                            <span class="ico-tick"></span>
                            Đã mua hàng ở Tiki
                        </span>
                    </div>
                    <div class="evaluate__info__content">
                        <span class="evaluate__date">Nhận xét ngày @e.eva_date.Day tháng @e.eva_date.Month năm @e.eva_date.Year</span>
                        <span class="evaluate__seller"> Mua từ nhà bán Tiki Trading</span>
                    </div>
                </div>
            </div>
            <div class="evaluate__rate">
                <p class="evaluate__rate__content">
                    @Html.Raw(Tiki.App_Code.GlobalFunction.RenderStarByCount(e.eva_rate))
                </p>
            </div>
            <div class="evaluate__title">@e.eva_title</div>
            <div class="evaluate__content">@e.eva_content</div>
            <div class="evaluate__images">
                @{
                    if (e.eva_imgs != "")
                    {
                        string[] arr = e.eva_imgs.Split(';');
                        foreach (var item in arr)
                        {
                            <img src="@string.Format("https://vcdn.tikicdn.com/ts/review/{0}.jpg",item)" alt="">
                        }
                    }
                }
            </div>
            <span class="evaluate__thank">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                     viewBox="0 0 20 20">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0 0H20V20H0z"></path>
                        <path fill="#0d5cb6" fill-rule="nonzero"
                              d="M14.252 17.063c.465 0 .863-.056 1.195-.167.443-.143.8-.387 1.071-.73.271-.343.429-.747.473-1.212.022-.254.006-.503-.05-.747.277-.443.404-.908.382-1.395-.01-.132-.038-.265-.083-.398.266-.398.393-.819.382-1.262 0-.166-.028-.332-.083-.498.155-.232.266-.481.332-.747l.067-.083v-.73l-.034-.083v-.05c-.022-.033-.033-.055-.033-.066-.166-.642-.531-1.069-1.096-1.279-.265-.088-.542-.133-.83-.133h-2.888c.044-.298.083-.525.116-.68.144-.742.116-1.4-.083-1.976-.078-.221-.21-.586-.399-1.096l-.149-.398c-.177-.443-.476-.753-.896-.93-.321-.144-.648-.216-.98-.216-.376 0-.742.095-1.096.283-.564.287-.84.747-.83 1.378.011.254.017.453.017.597.01.454.022.797.033 1.03 0 .055-.011.105-.033.149-.033.066-.091.172-.174.315l-.191.332c-.388.676-.681 1.174-.88 1.495-.133.199-.313.365-.54.498-.227.132-.423.215-.59.249l-.248.05H4.258c-.332 0-.614.116-.847.348-.232.233-.349.515-.349.847v6.11c0 .331.117.613.35.846.232.232.514.349.846.349h9.994zm0-1.196h-6.94l.017-6.441c.51-.244.908-.587 1.195-1.03V8.38c.21-.332.504-.836.88-1.51l.017-.017c.022-.034.1-.166.232-.399.011-.011.034-.044.067-.1.033-.055.055-.094.066-.116.155-.265.221-.548.2-.846-.012-.244-.023-.56-.034-.947v-.63c-.01-.067 0-.122.033-.167.022-.044.072-.088.15-.132.177-.089.354-.133.531-.133.166 0 .338.039.515.116.11.044.193.127.249.249.077.232.127.365.15.398.165.454.292.808.38 1.063.134.387.145.841.034 1.361-.033.188-.072.426-.116.714l-.232 1.395h4.3c.143 0 .287.022.431.066.166.067.277.216.332.448.011 0 .02.011.025.034.005.022.008.038.008.05v.232l-.033.133c-.033.121-.083.238-.15.348l-.315.465.15.531c.022.067.033.139.033.216.01.188-.05.37-.183.548l-.299.465.15.531c.01.055.022.105.033.15.011.22-.055.442-.2.664l-.265.415.1.415v.05c.033.143.044.282.033.414v.017c-.022.221-.094.404-.216.548-.122.155-.288.271-.498.349-.21.066-.487.1-.83.1zm-8.135 0h-1.86v-6.11h1.86v6.11z">
                        </path>
                    </g>
                </svg><span>Hữu ích (38)</span>
            </span><span class="evaluate__reply">Gửi trả lời</span>
        </div>
        <!-- /.evaluate__item -->
    }

</section>
<!-- /.evaluate -->
